<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HTML Image Conversion</title>
</head>

<body>

<p>
  Detecting WebP Support with "picture" Tag.
  <br>
  There are ways to detect WebP images using Javascript and server-side techniques (htaccess for example), but the most robust solution is to use "picture" tag for your images in the webpage. The "picture" tag has been created for these special cases, so it is best to use this to provide the best browser support.
  <br>
  The type tag attribute in a "source" tag specifies a file type for the source image.
</p>

<!-- Image 1-->
<picture>
  <source srcset="img1" type="image/webp">
  <source srcset="img1" type="image/jpeg">
  <img src="img1.jpg">
</picture>

<!-- Image 2-->
<picture>
    <source srcset="img2" type="image/webp">
    <source srcset="img2" type="image/jpeg">
    <img src="img2.jpg">
</picture>
</body>

</html>