<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HTML Image Conversion</title>
</head>

<body>

<!-- Image 1-->
<picture>
  <source srcset="img1" type="image/webp">
  <source srcset="img1" type="image/jpeg">
  <img src="img1.jpg">
</picture>

<!-- Image 2-->
<picture>
    <source srcset="img2" type="image/webp">
    <source srcset="img2" type="image/jpeg">
    <img src="img2.jpg">
</picture>
</body>

</html>