<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="author" content="Filippo Scelfo">
  <meta name="description" content="This page contains an example of a wep page structure">

  <title>Head attributes</title>

  <meta property="og:image" content="images/og-image.jpg">
  <meta property="og:description" content="This page contains an example of a wep page structure">
  <meta property="og:title" content="Html Head Structure">

  <!-- Third-Generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon144x144.png">
  <!-- iPhone with high resolution retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon114x114.png">
  <!-- First and second generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon72x72.png">
  <!-- Non-retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="images/favicon57x57.png">
  <!-- Basic Favicon-->
  <link rel="shortcut icon" href="images/favicon32x32.png">
  <link rel="shortcut icon" href="images/favicon16x16.ico" type="image/x-icon">
</head>
<body>

</body>
</html>