body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 16px;
  padding-bottom: 0;
}

main {
  max-width: 720px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  padding: 2rem 1rem;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: black;
  color: white;
  width: 100%;
  padding: 6rem 1rem;
}

footer form {
  display: flex;
  flex-direction: column;
}